.account-icon {
    background-image: url("./imgs/card-account-details.svg");
    background-size: cover;
}

.messages-icon {
    background-image: url("./imgs/forum.svg");
    background-size: cover;
}

.home-icon {
    background-image: url("./imgs/home.svg");
    background-size: cover;
}

.tasks-icon {
    background-image: url("./imgs/tasks.svg");
    background-size: cover;
}

.history-icon {
    background-image: url("./imgs/history.svg");
    background-size: cover;
}

.settings-icon {
    background-image: url("./imgs/settings.svg");
    background-size: cover;
}

.privacy-icon {
    background-image: url("./imgs/privacy.svg");
    background-size: cover;
}

.support-icon {
    background-image: url("./imgs/support.svg");
    background-size: cover;
}

.star-icon {
    background-image: url("./imgs/star.svg");
    background-size: cover;
}

.eye-icon {
    background-image: url("./imgs/eye-outline.svg");
    background-size: cover;
}

.github-icon {
    background-image: url("./imgs/github.svg");
    background-size: cover;
}

.community-icon {
    background-image: url("./imgs/account-group.svg");
    background-size: cover;
}

